<div id="dashboardbox" style="margin-top:50px; top:25; left:150;" >                    
	<div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Dashboard</div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >
                <table>
                    <tr>
                        <td> Icon and Number of Employees</td>
                        <td> Number</td>
                    </tr>

                    <tr> 
                        <td> Icon and number of leaves</td>
                        <td> Number</td>
                    </tr>

                    <tr> 
                        <td> Icon and number of approved applications</td>
                        <td> Number</td>
                    </tr>

                    <tr> 
                        <td> Icon and number of Cancelled applications</td>
                        <td> Number</td>
                    </tr>

                    <tr> 
                        <td> Icon and number of Pending applications</td>
                        <td> Number</td>
                    </tr>
                </table>

            
            </div>  
</div>